*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    background-image: url(reveal-xl.png);
    background-repeat: no-repeat;
    background-size: cover, cover;
    background-position: fixed;
    font-family: Arial, Helvetica, sans-serif;
}
.signup_form {
    display: block;
    position: absolute;
    top: 15%;
    left: 10%;
    display: flex;
    flex-direction: column;
    width: 40%;
    background: rgba(255, 255, 255, 0.712);
    border-radius: 6%;
}
.container {
    padding: 30px;
    margin: 20px;
}
.clipath{
    background-color: white;
    clip-path: ellipse(67% 65% at 44% 35%);
    z-index: 1;
}
.signup_main {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding-top: 30px;
    padding-bottom: 10px;
    position: relative;
    font-size: auto;
}
.signup_form input {
    padding: 0 16px;
    height: 46px;
    text-align: left;
    box-sizing: border-box;
    border-radius: 6px;
    border-width: 1px;
}
.signup_form h1 {
    display: flex;
    margin-top: 10px;
    font-weight: 800;
    font-size: auto;
}
.textbox {
    margin-top: 20px;
    margin-right: 15px;
}
.oneline {
    display: flex;
    flex-direction: row;
}
.oneline .textbox {
    width: 100%;
}
mark {
    background-color: white;
    color: rgba(158, 4, 4, 0.562);
}
.check {
    display: flex;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    padding-top: 10px;
    margin-bottom: 20px;
}
.check input {
    width: 30px;
}
p {
    justify-content: flex-start;
}
.bottom {
    justify-content: space-between;
    display: flex;
    padding-bottom: 20px;
}
button {
    background-color: lightskyblue;
    color: white;
    height: 44px;
    width: 35%;
    border-radius: 50px;
    border: 0px;
    font-weight: 700;
}
a {
    padding-top: 10px;
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 20px;
    margin-right: 20px;
}
.fa-google {
    font-size: 22px;
    background-color: rgb(0, 153, 255);
    color: white;
    border-radius: 30px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 10px;
    height: 100%;
}
.fa-facebook {
    margin-left: 10px;
    margin-right: 10px;
}
i a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    padding-left: 10px;
    font-weight: 500;
}
.signup_via_media {
    display: flex;
}
